body {
  font-family: "Century Gothic", sans-serif !important;
}

.btn-main {
  background-color: #70a5bf !important;
  color: #ffffff !important;
  font-weight: 600 !important;
  padding: 8px 0 !important;
}
.btn-main:hover {
  opacity: 0.9;
}
.btn-main:focus {
  box-shadow: none !important;
}

.btn-outline {
  color: #000000 !important;
  font-weight: 600 !important;
  border: 1px solid #000000 !important;
  padding: 8px 0 !important;
}
.btn-outline:hover {
  opacity: 0.9;
  background-color: #ced4da;
}
.btn-outline:focus {
  box-shadow: none !important;
}

.form-check-input:focus {
  box-shadow: none !important;
}

.form-check-input:checked {
  background-color: #70a5bf !important;
  border-color: #70a5bf !important;
}

.stepField input[type=text],
.stepField input[type=password],
.stepField input[type=email],
.stepField input[type=date] {
  margin: 5px 0 15px !important;
  font-weight: 500;
}
.stepField input[type=text]:focus,
.stepField input[type=password]:focus,
.stepField input[type=email]:focus,
.stepField input[type=date]:focus {
  box-shadow: none !important;
}
.stepField label {
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
}
.stepField label i {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  color: #70a5bf;
  border: 1px solid #70a5bf;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.authPage {
  height: 100%;
}
.authPage .authImage {
  background-image: url("../assets/authImage.jpg");
  background-position: center;
  background-size: cover;
}
.authPage .loginData {
  padding: 70px 0;
  max-width: 450px;
  margin: auto;
}
.authPage .loginData h1 {
  font-size: 30px;
  margin: 40px 0 30px;
}
.authPage .loginData form label {
  font-size: 14px;
  font-weight: 600;
}
.authPage .loginData form input {
  margin: 5px 0 15px;
  font-weight: 500;
}
.authPage .loginData form input:focus {
  box-shadow: none;
}
.authPage .loginData form .agreement {
  font-size: 14px;
}
.authPage .loginData p.forgetPassword {
  margin-top: 20px;
}
.authPage .loginData p.forgetPassword a {
  text-decoration: none;
  color: #70a5bf;
  font-weight: 600;
}
.authPage .loginData .otherLogin {
  margin: 15px 0;
}
.authPage .loginData .otherLogin p {
  text-decoration: underline;
}
.authPage .loginData .otherLogin .socialIcon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin: 20px 0;
}
.authPage .loginData .otherLogin .socialIcon .icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.authPage .loginData .otherLogin .socialIcon .icon img {
  width: 100%;
}
.authPage .loginData .newMemer {
  position: relative;
  margin: 30px 0;
}
.authPage .loginData .newMemer span {
  background-color: #ffffff;
  padding: 0 10px;
}
.authPage .loginData .newMemer .line {
  width: 100%;
  height: 1px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
  background-color: #70a5bf;
  z-index: -1;
}

.btn-pair {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}
.btn-pair .btn {
  width: 100%;
}

.modal-dialog .modal-content {
  border-radius: 15px;
}
.modal-dialog .modal-content .modal-header {
  border-bottom: none;
}
.modal-dialog .modal-content .modal-body {
  padding-top: 0;
  font-weight: 600;
}
.modal-dialog .modal-content .modal-body ul {
  list-style: none;
}
.modal-dialog .modal-content .modal-body ul li {
  margin: 10px 0;
}

.addtocart .content {
  padding: 50px 0;
  max-width: 420px;
  margin: auto;
}
.addtocart .content h4 {
  color: #000000;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
}
.addtocart .content h4 a {
  color: #70a5bf;
}
.addtocart .content h1 {
  font-size: 28px;
  color: #70a5bf;
  font-weight: 600;
  text-align: center;
}
.addtocart .content p {
  color: #000000;
}
.addtocart .content p span {
  font-weight: 600;
}
.addtocart .content .sponcers {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 30px 0;
}
.addtocart .content .designatedDoctor .drProfile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  text-align: center;
  margin: 20px auto;
}
.addtocart .content .designatedDoctor .drProfile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.addtocart .content .designatedDoctor p {
  color: #707070;
}
.addtocart .content .agreement {
  font-size: 14px;
  text-align: center;
}
.addtocart .content .resend {
  display: flex;
  justify-content: space-between;
}
.addtocart .content .resend a {
  color: #70a5bf;
}
.addtocart .content .instructions p {
  font-size: 14px;
}
.addtocart .content .instructions ol li {
  font-size: 14px;
}
.addtocart .content .note {
  margin: 20px 0;
}
.addtocart .content .note p {
  font-weight: 600;
}
.addtocart .content .note p span {
  font-weight: 400;
}
.addtocart .content .note p.notice {
  padding-left: 15px;
  font-weight: 400;
  border-left: 5px solid #70a5bf;
}
.addtocart .content .gender {
  display: flex;
  border: 1px solid #ced4da;
  padding: 4px 10px;
  border-radius: 4px;
}
.addtocart .content .gender .form-check {
  width: 100%;
}
.addtocart .content .gender .form-check i {
  font-size: 15px;
}
.addtocart .content .patientDetails {
  position: relative;
}
.addtocart .content .patientDetails .form-check {
  width: 100%;
  padding-left: 0;
}
.addtocart .content .patientDetails .form-check .form-check-label {
  border: 1px solid #ced4da;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}
.addtocart .content .patientDetails .form-check-input {
  margin-left: 0 !important;
  margin-right: 10px;
}
.addtocart .content .patientDetails .icon {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  color: #70a5bf;
  border: 1px solid #70a5bf;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.addtocart .content .patientDetails textarea {
  margin: 5px 0;
}
.addtocart .content .patientDetails textarea:focus {
  box-shadow: none !important;
}/*# sourceMappingURL=style.css.map */